<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8"></meta>
	<title>Zup- Orange Talents</title>

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	
</head>

<header th:replace="Cabecalho"></header>

<body>
	<section layout:fragment="conteudo">
		<p>Conteúdo principal</p>
	</section>	
		
	<script src="/js/bootstrap.bundle.js"></script>
</body>

</html>